
<link href="~/css/AboutUs.css" rel="stylesheet" />

<section class=" section section_about">
    <img src="~/Img/AboutUs/AboutUs.jpg" alt="" class="img_about">
    <div class="container section_about_container">
        <div class="section_about_content">
            <h2 class="section_title section_about_title">О Компании ТрансТелеКом</h2>
            <p class="section_about_text">Компания ТрансТелеКом – один из ведущих российских операторов связи. Основной акционер ТТК – ОАО «РЖД», владеет 99,99% акций Компании. Компания является одним из основных поставщиков магистральных услуг связи для операторов и крупнейших корпораций России, а также входит в число лидеров среди провайдеров услуг широкополосного доступа в Интернет, телевидения и телефонии для конечных пользователей в регионах.<br> Компания активно вовлечена в процессы цифровой трансформации ОАО «РЖД» и транспортно-логистической сферы в целом. ТТК традиционно оказывает холдингу «РЖД» услуги предоставления связи и высокоскоростных корпоративных сетей, развивает и обеспечивает эксплуатацию инфраструктуры систем связи и транспортной безопасности. Компания развивает новые компетенции в интересах холдинга «РЖД» - в сфере дистанционного обслуживания пассажиров и грузоотправителей, внедряет системы видеонаблюдения и видеоаналитики, технологии искусственного интеллекта, развивает продукты в сфере транспортной телематики и цифровой контрольной инфраструктуры.<br> ТТК эксплуатирует и обслуживает одну из крупнейших в России волоконно-оптических линий связи протяженностью более 78 000 км и пропускной способностью более 4,8 Тбит/с. Трансконтинентальная магистраль TTK EurasiaHighway имеет соединения с сетями связи практически всех соседних стран, включая Китай, Японию, Монголию, КНДР, Финляндию, страны Балтии и СНГ и является оптимальным маршрутом между Европой и Азией.<br> ТТК оказывает услуги частным лицам, государственным заказчикам и бизнес-клиентам на всей территории России. Компания включает в себя восемь макрорегиональных подразделений: Центр, Север, Кавказ, Верхневолжский, Урал, Сибирь, Западная Сибирь и Дальний Восток.</p>
        </div>
    </div>
</section>